.left-side-library {
  flex: 0 0 34rem;
  background: rgba(37, 37, 37, 0.692);
  border-radius: 1rem;
  padding: 0.6rem 1.5rem;
  // width: 40rem;
  height: 75vh;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
  .your-library {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 6rem;
    .your-library-contents {
      display: flex;
      align-items: center;
      margin-left: 0.5rem;
      img {
        width: 2.8rem;
      }
      h4 {
        font-size: 1.5rem;
        margin: 1rem;
      }
    }
    .your-library-icons {
      display: flex;
      align-items: center;
      .plus-button {
        background-color: rgba(58, 57, 57, 0.788);
        padding: 0.6rem;
        border-radius: 50%;
        margin: 1rem;
      }
      .expand-icon {
        margin: 1rem;
      }
      img {
        width: 2rem;
      }
    }
  }
}
.selection-btns {
  margin-bottom: 0.7rem;
  button {
    color: white;
    margin-right: 0.4rem;
    padding: 0.5rem 1.2rem;
    background: rgba(116, 114, 114, 0.212);
  }
}
.lower-library {
  // position: relative;
  // overflow: scroll;
  .search-recent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1.8rem;
    .recents {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h4 {
      font-size: 1.4rem;
      margin: 0 1rem;
    }
    img {
      width: 1.8rem;
    }
  }

  .library-lists {
    height: 50vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
    .mylist {
      display: flex;
      align-items: center;
      height: 6.5rem;
      // margin: 0.8rem 0;
      padding: 1rem;
      border-radius: 1rem;
      .album-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        // gap: 0.2rem;
        .album-name-pgh {
          display: flex;
          .dot {
            align-self: center;
            width: 0.34rem;
            height: 0.34rem;
            border-radius: 50%;
            background: white;
            margin: 0 0.5rem;
          }
        }
        h4 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.32rem;
        }
      }
    }
  }
}

.mylist:hover {
  background: rgba(100, 99, 99, 0.233);
}
.library-lists img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}

// //////////////////////////////////////////////////////////  //

.collapse {
  flex: 0 0 7rem;
  // width: 10rem;
  align-items: center;
  padding: 2rem 0 0 0;

  .upper-library h4,
  .expand-icon,
  .selection-btns {
    display: none;
  }

  .your-library {
    flex-direction: column;
  }
  .lower-library {
    scrollbar-width: thin;

    .search-recent {
      display: none;
    }
    .mylist {
      .album-name {
        display: none;
      }
    }
  }
}

// //////////////////////////////////////////////////////////  //

.expanded {
  flex: 1 1 100rem;
  width: 100%;

  .library-controllers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-recent {
    }
  }
  .selection-btns {
    button {
      padding: 0.9rem 1.7rem;
    }
  }

  .library-lists {
    flex-direction: row;
    flex-wrap: wrap;
    .mylist {
      flex-direction: column;
      align-items: flex-start;
      height: 24.5rem;
    }
  }
  .library-lists img {
    width: 17rem;
    height: 17rem;
  }
}
