* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 135rem;
  background: #000000;
  color: white;
}

button {
  padding: 0 1.5rem;
  border: none;
  border-radius: 3rem;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.icon {
  width: 3.5rem;
  cursor: pointer;
  /* color: white; */
  /* padding: 0.5rem; */
  /* margin: 1rem; */
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.my-head {
  min-height: 10vh;
  width: 98%;
  margin: auto;
  margin-top: 0.3rem;
  /* background: black; */
  display: flex;
  align-items: center;
  /* gap: 13rem; */
}
.my-head .home-input-wrapper {
  display: flex;
  align-items: center;
}
.my-head .prm-inst-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  flex: 1 1 calc(35rem + 1vw);
  margin: 0 1.3rem;
}

.right-wrapper {
  flex: 2 1 93rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 0.1rem; */
}
.right-wrapper .home-input-wrapper {
  display: flex;
  align-items: center;
}
.right-wrapper .prm-inst-wrapper {
  display: flex;
  align-items: center;
}

.home-button {
  background: rgba(58, 57, 57, 0.788);
  margin-right: 0.8rem;
  padding: 1rem;
  border-radius: 50%;
}

.home-icon {
  width: 2.6rem;
}

.my-form {
  display: flex;
  align-items: center;
  margin: 0rem 0.2rem;
  width: clamp(30rem, 30rem + 10vw, 48rem);
  position: relative;
}

.my-form input {
  background-color: rgba(58, 57, 57, 0.788);
  color: white;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5rem;
  padding: 1rem 4.5rem;
  /* text-align: center; */
  border-radius: 2rem;
}

.search-icon {
  width: 2.5rem;
  position: absolute;
  left: 3%;
}

.other-icon {
  width: 2.5rem;
  position: absolute;
  right: 3%;
}

.my-form p {
  position: absolute;
  right: 10%;
  top: 4%;
  font-size: 2.2rem;
}

.home {
  display: flex;
}

.premium-btn {
  padding: 0.8rem 2rem;
  margin-left: 1.6rem;
  border: none;
}

.install-app {
  color: rgb(163, 159, 159);
  width: 8.7rem;
  margin: 0 1.6rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
}

.install-app img {
  width: 1.8rem;
}

.ntf-icon {
  width: 1.7rem;
  margin: 0rem 3rem 0rem 0rem;
}

.profile {
  width: 3.6rem;
  height: 3.6rem;
  margin: 0;
  padding: 0.4rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.0823529412);
  overflow: hidden;
}

.profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  /* border-radius: 50%; */
}

.main-content {
  width: 98%;
  margin: auto;
  display: flex;
  min-height: 75vh;
  gap: 0.7rem;
}

.left-side-library {
  flex: 0 0 34rem;
  background: rgba(37, 37, 37, 0.692);
  border-radius: 1rem;
  padding: 0.6rem 1.5rem;
  height: 75vh;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}
.left-side-library .your-library {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 6rem;
}
.left-side-library .your-library .your-library-contents {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
.left-side-library .your-library .your-library-contents img {
  width: 2.8rem;
}
.left-side-library .your-library .your-library-contents h4 {
  font-size: 1.5rem;
  margin: 1rem;
}
.left-side-library .your-library .your-library-icons {
  display: flex;
  align-items: center;
}
.left-side-library .your-library .your-library-icons .plus-button {
  background-color: rgba(58, 57, 57, 0.788);
  padding: 0.6rem;
  border-radius: 50%;
  margin: 1rem;
}
.left-side-library .your-library .your-library-icons .expand-icon {
  margin: 1rem;
}
.left-side-library .your-library .your-library-icons img {
  width: 2rem;
}

.selection-btns {
  margin-bottom: 0.7rem;
}
.selection-btns button {
  color: white;
  margin-right: 0.4rem;
  padding: 0.5rem 1.2rem;
  background: rgba(116, 114, 114, 0.212);
}

.lower-library .search-recent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1.8rem;
}
.lower-library .search-recent .recents {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lower-library .search-recent h4 {
  font-size: 1.4rem;
  margin: 0 1rem;
}
.lower-library .search-recent img {
  width: 1.8rem;
}
.lower-library .library-lists {
  height: 50vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin-top: 0.6rem;
}
.lower-library .library-lists .mylist {
  display: flex;
  align-items: center;
  height: 6.5rem;
  padding: 1rem;
  border-radius: 1rem;
}
.lower-library .library-lists .mylist .album-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.lower-library .library-lists .mylist .album-name .album-name-pgh {
  display: flex;
}
.lower-library .library-lists .mylist .album-name .album-name-pgh .dot {
  align-self: center;
  width: 0.34rem;
  height: 0.34rem;
  border-radius: 50%;
  background: white;
  margin: 0 0.5rem;
}
.lower-library .library-lists .mylist .album-name h4 {
  font-size: 1.5rem;
}
.lower-library .library-lists .mylist .album-name p {
  font-size: 1.32rem;
}

.mylist:hover {
  background: rgba(100, 99, 99, 0.233);
}

.library-lists img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.collapse {
  flex: 0 0 7rem;
  align-items: center;
  padding: 2rem 0 0 0;
}
.collapse .upper-library h4,
.collapse .expand-icon,
.collapse .selection-btns {
  display: none;
}
.collapse .your-library {
  flex-direction: column;
}
.collapse .lower-library {
  scrollbar-width: thin;
}
.collapse .lower-library .search-recent {
  display: none;
}
.collapse .lower-library .mylist .album-name {
  display: none;
}

.expanded {
  flex: 1 1 100rem;
  width: 100%;
}
.expanded .library-controllers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expanded .selection-btns button {
  padding: 0.9rem 1.7rem;
}
.expanded .library-lists {
  flex-direction: row;
  flex-wrap: wrap;
}
.expanded .library-lists .mylist {
  flex-direction: column;
  align-items: flex-start;
  height: 24.5rem;
}
.expanded .library-lists img {
  width: 17rem;
  height: 17rem;
}

.right-side-library {
  flex: 4 1 50rem;
  width: 60rem;
  overflow: scroll;
  max-height: 75vh;
  background: rgba(37, 37, 37, 0.692);
  border-radius: 1rem;
  padding: 1.5rem 4rem;
}
.right-side-library .all-music-btns button {
  padding: 0.7rem 1.4rem;
  margin-right: 1rem;
  background: rgba(116, 114, 114, 0.212);
  color: white;
  font-size: 1.4rem;
}
.right-side-library .all-music-btns button:nth-child(1) {
  background: white;
  color: black;
}
.right-side-library .recently-played-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}
.right-side-library .recent-album {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 4.5rem;
  border-radius: 1rem;
  background: rgba(116, 114, 114, 0.212);
  cursor: pointer;
}
.right-side-library .recent-album img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.right-side-library .recent-album h4 {
  font-size: 1.2rem;
}
.right-side-library .suggested-musics-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}
.right-side-library .suggested-musics-container .title1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-side-library .suggested-musics-container .suggested-musics-album-container {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: thin;
}
.right-side-library .suggested-musics-container .suggested-musics-album-container .Sugg-alb img {
  border-radius: 1rem;
  width: 17rem;
  height: 17rem;
}
.right-side-library .footer {
  margin: 7rem 0;
}
.right-side-library .footer .footer-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 6rem 0;
  border-top: 1px solid rgba(97, 94, 94, 0.315);
  border-bottom: 1px solid rgba(97, 94, 94, 0.315);
}
.right-side-library .footer .footer-container h2 {
  font-size: 1.55rem;
  margin-bottom: 1.2rem;
}
.right-side-library .footer .footer-container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.right-side-library .footer .footer-container .social-links {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.right-side-library .footer .footer-container .social-links div {
  background: rgba(116, 114, 114, 0.212);
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  padding: 1rem;
}
.right-side-library .footer .footer-container .social-links img {
  width: 2.2rem;
}
.right-side-library .footer .legal-terms {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.right-side-library .footer .legal-terms .privacy-policy {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.right-side-library .footer .legal-terms h3 {
  font-size: 1.4rem;
}

.player {
  overflow: hidden;
  width: 98%;
  margin: auto;
  margin-top: 3rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 10rem;
}
.player .music-player {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.player .music-player .controll-btns {
  display: flex;
  gap: 3rem;
}
.player .music-player .pause-icon {
  width: 2.5rem;
}
.player .music-player img {
  width: 1.6rem;
  cursor: pointer;
}
.player .music-player .progress {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 130%;
}
.player .music-player .progress .progress-bar {
  width: 100%;
  height: 0.5rem;
  border-radius: 1rem;
  background: rgb(119, 118, 118);
  cursor: pointer;
}
.player .other-controlls {
  justify-self: end;
  display: flex;
  gap: 2rem;
}
.player .other-controlls img {
  width: 1.6rem;
}
.player .other-controlls .progress {
  width: 12rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.player .other-controlls .progress .progress-bar {
  width: 100%;
  height: 0.4rem;
  border-radius: 1rem;
  background: rgb(240, 237, 237);
  cursor: pointer;
}

@media (max-width: 700px) {
  body {
    width: 80rem;
  }
}
@media (max-width: 1020px) {
  .my-head .premium-btn {
    display: none;
  }
}
@media (min-width: 1021px) and (max-width: 1320px) {
  .my-head .logo {
    flex: 1 1 calc(5rem + 1vw);
  }
}/*# sourceMappingURL=style.css.map */